body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: linear-gradient(to right, rgba(255,255,255,.5), rgba(255,255,255,.5)), url('Assets/coins2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Budget Detail Classes */
.budget-header h2{
    font-weight: bold;
}

.budget-detail-limits {
    background-color: #4E3D42;
    color: #E3DBDB;
    padding: 15px 0;
}
.budget-detail-limits span{
    font-weight: bold;
}

.budget-detail-category-container {
    border: 2px solid black;
    border-radius: 3em;
    overflow: hidden;
}

.category-header {
    background-color: #5E987C;
    padding: 10px 0;
}

.budget-detail-category-card {
    background: linear-gradient(to right, rgba(220,238,243,.5), rgba(220,238,243,.5));
}

 .budget-detail-category-card ul {
    margin: 0px; 
 }

.budget-detail-category-card hr {
    margin-top: 20px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #eeeeee;
    width: 75%;
}

#category-name{
    font-weight: bold;
}

#category-limts {
    font-weight: bold;
}

/*.budget-transaction-display {
    background-color: antiquewhite;
}
*/


/*TRANSACTIONS
CreateTransaction
*/
.new-transaction-container {
    background: linear-gradient(to right, rgba(235,235,235,.5), rgba(235,235,235,.5));
    border: 0.15em solid slategray;
    border-radius: 3em;
    overflow: hidden;
    padding: 3em 5em 3em 5em;
}
