body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: linear-gradient(to right, rgba(255,255,255,.5), rgba(255,255,255,.5)), url('Assets/coins2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*GENERAL USE*/
.general-use-container {
    border: 2px solid black;
    border-radius: 3em;
    background: linear-gradient(to right, rgba(220,238,243,.5), rgba(220,238,243,.5));
/*    margin: 3em;
*/    overflow: hidden;
}

.general-use-container hr {
    margin-top: 0px;
    margin-bottom: 0px;
/*    padding: 1em 1em;
*/    border: 0;
    border-top: 1px solid #eeeeee;
    width: 75%;
}


a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.general-use-header-blue {
    background-color: #37515F;
    color: #E3DBDB;
    padding: 15px 0;
}

.general-use-header-blue span {
    font-weight: bold;
}

.general-use-header {
    background-color: #5E987C;
    padding: 10px 0;
}

    .general-use-header span {
        font-weight: bold;
    }

.custom-header span {
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    color: #37515F;
    font-size: calc(1.475rem + 2.7vw);
}

.home-start span{
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    color: #37515F;
}

.pad{
    padding: 2em 0;
}

.negative {
    color: darkred;
}

.positive{
    color: lawngreen;
}

.home-image {
    border: 1px solid;
    border-color: #E3DBDB;
    box-shadow: 3px 3px 5px lightgray;
}

.general-button {
    background-color: #5E987C;
    color: #E3DBDB;
    font-family: 'Abril Fatface', cursive;
    margin: 0.75em;
}

.general-button:hover {
    background-color: #C17767;
    color: #37515F;
    font-family: 'Abril Fatface', cursive;
}

.general-button a{
    text-decoration: none;
    color: #E3DBDB;
}

.general-button a:hover{
    text-decoration: none;
    color: #37515F;
}

.create-button {
    background-color: #5E987C;
    color: #E3DBDB;
    font-family: 'Abril Fatface', cursive;
}

    .create-button:hover {
        background-color: #C17767;
        font-family: 'Abril Fatface', cursive;
    }

.table-hover tbody tr:hover td {
    background-color: rgba(220,238,243,.55);
}

.table-hover tbody tr:hover th {
    background-color: #5E987C;
}




/* Budget Detail Classes */
.budget-detail-limits {
    background-color: #37515F;
    color: #E3DBDB;
    padding: 15px 0;
}

    .budget-detail-limits span {
        font-weight: bold;
    }

.budget-detail-category-container {
    border: 2px solid black;
    border-radius: 3em;
    overflow: hidden;
}

.category-header {
    background-color: #5E987C;
    padding: 10px 0;
}

.budget-detail-category-card {
    background: linear-gradient(to right, rgba(220,238,243,.5), rgba(220,238,243,.5));
}

    .budget-detail-category-card ul {
        margin: 0px;
    }

    .budget-detail-category-card hr {
        margin-top: 0px;
        margin-bottom: 0px;
        border: 0;
        border-top: 1px solid #eeeeee;
        width: 75%;
    }

#category-name {
    font-weight: bold;
}

#category-limts {
    font-weight: bold;
}

.category-header-limits span {
    font-weight: bold;
}


.budget-transaction-display ul {
    padding: 1em 4em;
}

.budget-transaction-list{
    margin: 1em;
}

/*CATEGORIES*/
/*Category Details*/
.category-budget-list {
    padding: 1em 0;
}


/*TRANSACTIONS
CreateTransaction
*/
.new-transaction-container {
    background: linear-gradient(to right, rgba(220,238,243,.5), rgba(220,238,243,.5));
    border: 2px solid black;
    border-radius: 3em;
    overflow: hidden;
    padding: 3em 5em 3em 5em;
}

