@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Budget Builder</h1>
    <p class="lead">Budget creation and tracking.</p>
    @if (User.Identity.IsAuthenticated == false)
    {
        <h4>Log In or Register to get started.</h4>
    }
</div>

<div class="row">
    <div class="col-md-4">
        @if (User.Identity.IsAuthenticated == true)
        {
            <h2 class="home-start"><span>Where do I begin?</span></h2>
            <p>
                Start with a Budget. Be honest with yourself and include every penny you earn. Add Categories and Category Limits. Pizza and beer regularly impacting your wallet? Make a Category for them!
            </p>
            <button class="create-button btn btn-default"> @Html.ActionLink("Create Budget", "Create", "Budget")</button>
        }

    </div>
    <div class="col-md-4">
        <img class="home-image img-responsive" src="~/Content/Assets/coinjar.jpg" />
    </div>
    @if (User.Identity.IsAuthenticated == true)
    {
<div class="col-md-4">
    <h2 class="home-start"><span>What's next?</span></h2>
    <p>Once you have budgets and categories, it's time to add transactions. Be sure to go back to view your Budget Detail. This is where the pieces all come together.</p>
    <button class="create-button btn btn-default"> @Html.ActionLink("Add Transaction", "Create", "Transaction")</button>
</div>
    }

</div>